* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hwb(0 20% 80%);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  color: hsl(0, 0%, 40%);
}

.header {
  background-color: hsl(0, 0%, 95%);
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.header .header-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: hsl(0, 0%, 0%);
  text-align: center;
}

.header .header-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  color: hsl(0, 0%, 40%);
}

.greeting {
  background-color: hsl(0, 0%, 95%);
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.greeting .greeting-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  color: hsl(0, 0%, 40%);
}

.greeting .greeting-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: hsl(0, 0%, 0%);
  text-align: center;
}

.greeting .greeting-title-warning {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: hsl(0, 100%, 40%);
  text-align: center;
}
.button_default {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 78%, 45%);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.sw {
  display: flex;
  flex-direction: column;
  justify-content: center;      /* Vertical centering */
  align-items: center;          /* Horizontal centering */
  min-height: 100vh;            /* Full viewport height */                /* Remove default margin */
  background-color: rgba(0, 255, 119, 0.633);
  border-radius: 15px;
  border-width: 8px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%)
}
/*
rgba(191, 78, 78, 0.633);
*/

.sw .sw-title {
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 24px;
  color: hsl(288, 76%, 17%)
}


.sw .sw-buttontype1 {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(288, 76%, 17%);
  color: hsl(288, 76%, 17%);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 20px auto;
  margin-right: 10px;
  font-weight: bold;

}

.sw .sw-text {
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  font-size: 24px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  margin: 20px auto;
  font-weight: 200;
}

.sw .sw-buttontype2 {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(288, 76%, 17%);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: hsl(0, 100%, 45%);
  cursor: pointer;
  margin: 20px auto;
  margin-right: 10px;
  font-weight: bold;
  border: 2px solid hsl(0, 100%, 45%);
}